.service {
    border: 1px solid #827397;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #827397;
    color: #363062;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.img-border {
    border-radius: 10px 10px 0 0;
    border: none;
}

.checkout-btn:hover {
    background-color: #11687e !important;
    border: 1px solid #11687e !important;
}