.navbar-background {
    background-color: #A0BCC2;

}

.nav-link {
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link:hover {
    color: goldenrod !important;
}

.company-name{
    font-family:monospace;
    font-weight: 700;
    color: #334257;
}