.question-img {
    width: 30%;
}

.question-answer-header {
    font-weight: 800;
    color: #363062;
}

.accordion-header {
    background-color: #11687e !important;
}

.accordion-button {
    background-color: #11687e !important;
}