.welcome{
    color: #363062 ;
    font-family:monospace;
}
.home-banner{
    color: #363062 ;
    
}

.eco-electronics{
    font-family:monospace;
    font-weight: 700;
    color: #334257;
}


@media only screen and (max-width:576px) {
   
.home-banner-row{
    flex-direction: column-reverse;
}

}